header {
    position: sticky;
    top: 0;
}

.entete{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    &__input {
        display: none;
    }

    &__input:checked ~ &__navigation {
        display: block;
    } 

    &__navigation{
        // display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 100%;
        width: 100%;
        background-color: white;
    }

}