
/* ********************** HEADER GLOBALE */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: $couleur_theme_main;
}

.entete{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation{
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 10px 10px;
        translate: 100% 0;
        background-color: $couleur_theme_main;
        transition: translate 50ms;

        /* Display */
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__input {
        display: none;
    }

    &__input:checked ~ &__navigation {
        translate: 0 0;
    } 


    &__logo{
        height: max-content;
        width: max-content;
        padding: 0;
        margin: 0;

        .custom-logo-link{
            width: max-content;
            height: max-content;
        }

        img{
            display: block;
            width: clamp(170px, 20vw, 300px);
            height: auto;
            padding: 10px;
        }
    }

    @media screen and (min-width:  $dimension__ecran--desktop){
        &__label {
            display: none;
        }

        &__navigation {
            position: static;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
            translate: 0 0;
        } 
    }
}