/* ---------------------- Pied de page ---------------------- */
.piedpage {

    background: $couleur_theme_main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    padding: 20px 0;

    &__liens {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        nav>ul {
            gap: 10px 0;
        }

        a:hover {
            color: black;
        }

    }

    &__infos {
        .recherche {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            margin: 10px;

            &__input {
                padding: 5px;
                font-size: 1rem;
            }
        }
    }

    &__coordonnes {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        color: white;
        font-size: 1rem;
        font-weight: 900;
        gap: 10px 0;
    }


    .hero__icone {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        img {
            width: 30px;
        }
    }

    @media screen and (min-width: $dimension__ecran--desktop) {
        flex-flow: row nowrap;
        justify-content: center;

        &__liens {
            justify-content: center;
            gap: 0px 100px;
            width: 30%;
            height: 100%;
            flex-flow: row;

            >nav {
                height: 100%;

                ul {
                    height: 100%;

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-evenly;
                    align-items: flex-start;
                }
            }
        }

        &__infos {
            width: 30%;

            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-end;

            .recherche {
                width: 70%;
            }
        }

        .hero__icone {
            width: 30%;
        }
    }
}