/* Galries img destinations */

.populaire__galerie {

    figure.wp-block-gallery{
        margin-bottom: 3vh;
    }

    @media screen and (min-width: $dimension__ecran--desktop) {
        figure.wp-block-gallery{
            display: none;
    
            display: flex;
            flex-flow: row wrap;
            
            figure{
                display: none;
                
                height: max-content;
                width: 20vw;
    
                .wp-block-image {
                    width: 100%;
                }
            }
            
    
        }
        
    }
}
    
