
/* Galries img destinations */

.galerie {

    &__titre{
        font-size: 1.5rem;
    }

    &__conteneur {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }

    &__figure {
        width: 1fr;
        height: fit-content;
        background: green;

        padding: 0;
        margin: 0;

        img {
            display: block;
            // display: none;
            width: 100%;
        }
    }

}