/* ------------------- Hero ------------------- */
.hero {
    position: relative;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    
    &__caroussel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
    }

    &__contenu{
        background-size: cover;
        /* Display */
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: flex-start;
        gap: 40px 0;

        p{
            font-size: clamp(1rem, 3vw, 1.6rem);
            font-weight: 900;
        }
    }
    
    @keyframes afficher-contenu {
        to {
            translate: 0 0;
        }
    }

    &__titre {
        text-shadow: 3px 3px 0px orange;
        font-size: 10vw;
        text-transform: uppercase;
        translate: -150% 0;
        animation: afficher-contenu 0.25s 0s linear forwards;
    }

    &__auteur {
        translate: -150% 0;
        animation: afficher-contenu 0.5s 0.1s linear forwards;
    }

    &__description {
        translate: -150% 0;
        animation: afficher-contenu 0.5s 0.2s linear forwards;
    }


    &__courriel {
        font-size: 1rem;
        font-weight: bold;

        translate: -150% 0;
        animation: afficher-contenu 0.5s 0.3s linear forwards;

        a {
            text-decoration: none;
            color: black;
            &:visited {
                color: black;
            }
        }
    }

    &__adresse {
        font-size: 1rem;
        font-weight: bold;

        translate: -150% 0;
        animation: afficher-contenu 0.5s 0.4s linear forwards;
    }

    &__telephone {
        font-size: 1rem;
        font-weight: bold;

        translate: -150% 0;
        animation: afficher-contenu 0.5s 0.5s linear forwards;
    }

    &__inscription {
        background-color: rgba(255, 255, 255, 0.35);
        width: fit-content;
        padding: 0.75rem 1rem;
        border-radius: 5px;
        
        a {
            color: black;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;

            &:visited {
                color: black;
            }
        }
    }

    &__formulaire {
        position: absolute;
        color: black;

        bottom: 20px;
        left: 15px;
        right: 15px;

        border-radius: 10px;

        background: $couleur_theme_main;

        &__titre {
            color: white;
            text-transform: uppercase;
            width: fit-content;
            margin: 15px auto;
        }
    }

    &__icone {
        margin-top: 25px;
    }

    &__radio {
        order: 1;
        align-self: center;
        margin-top: 150px;

        display: flex;
        gap: 2rem;

        &__input[type="radio"] {
            appearance: none;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: white;
            border: 2px solid black;
            position: relative;
        }

        &__input[type="radio"]:checked::before {
            position: absolute;
            content: '';
            width: 75%;
            height: 75%;
            background: $couleur_theme_main;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }

    @media screen and (min-width: $dimension__ecran--desktop) {

        &__titre {
            font-size: 4rem;
        }

        &__description {
            max-width: 40%;
        }
    }
}