/* --------------- Section populaire --------------- */

.populaire {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    gap: 50px;
    margin: 50px 0;
}
