.destination {
    width: 100%;
}

.categorie__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    
    width: 100%;
    margin: 0;
    padding: 0;

    &__li {
        list-style: none;
        background: $couleur_theme_main;
        padding: 10px;
        border-radius: 5px;
        text-transform: uppercase;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}