/* ----------------- CARTE ----------------- */
.populaire__carte {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 25px 0;

    .carte {

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        background: $couleur_theme_main;
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;

        &__titre {
            color: white;
            box-sizing: border-box;
            padding: 0 10px;
            font-size: 1.5rem;
            height: 4rem;
            width: 100%;
        }

        &__image {
            width: 100%;
            aspect-ratio: 16 / 9;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
            }
        }

        // /////////////////////////// INFOS START
        &__infos {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            top: 3rem;
            bottom: 0;

            padding: 10px;
            box-sizing: border-box;

            color: white;

            &__description {
                height: 8vh;
                font-size: 1rem;
            }

            &__voirplus {
                padding: 5px;
                color: rgb(0, 174, 255);
                font-weight: 900;

                &:visited {
                    color: rgb(0, 174, 255);
                }
            }

            // ////////////// CATEGORIES STYLE START
            .post-categories {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;
                align-items: center;

                width: 100%;
                padding: 5px 0;

                li {
                    list-style: none;

                    width: 40%;
                    height: 2rem;
                    border: 2px solid white;
                    border-radius: 5px;

                    text-align: center;
                    line-height: 2rem;

                    a {
                        color: white;
                        text-decoration: none;
                        font-weight: 900;

                        &:visited {
                            color: white;
                        }
                    }
                }
            }
            // ////////////// CATEGORIES STYLE END

            &__temp {
                p {
                    font-size: 1rem;
                }
            }
            
        }
        // ////////////////////////// INFOS END


    }

    @media screen and (min-width: $dimension__ecran--desktop) {
        flex-flow: row wrap;
        gap: clamp(10px, 2vw, 20px);

        .carte {
            width: clamp(400px, 30%, 900px);
            position: relative;
            
            &__titre {
                height: 4rem;
            }
            
            &__image {
                aspect-ratio: 16 / 9;
            }
            
            &__infos {
                position: absolute;
                top: 4rem;
                bottom: 0;
                background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
                
                .post-categories {
                    display: none;
                }

                &__description {
                    display: none;
                }

                &__temp {
                    display: none;
                }

                &:hover {
                    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.50));

                    .post-categories {
                        display: flex;
                    }

                    .carte__infos__description {
                        display: block;
                    }
    
                    .carte__infos__temp {
                        display: block;
                    }
    
                }
            }
        }
    }
}