// <article class="carte carte--grande">
//     <figure class="carte__image">
//         <img src="voyage.jpg" alt="Image de voyage">
//     </figure>
//     <div class="carte__contenu">
//         <?php 
//             if (has_post_thumbnail()) {
//                 the_post_thumbnail('thumbnail'); 
//             }
//         ?> 
//         <h4 class="carte__titre"></h4> <?php the_title();?> 
//         <p class="carte__description"></p><?php echo wp_trim_words(get_the_content(), 10, "...");?> 
//         <a  class="carte__bouton carte__bouton--actif" href="<?php the_permalink();?> ">Suite ...</a>
//         <?php the_category();?> 

//         <p>Température maximum : <?php echo 50; # the_field('temperature_maximum'); ?> °C</p>
//         <p>Température minimum : <?php echo 50; # the_field('temperature_minimum'); ?> °C</p>
//         <p>Température maximum : <?php echo 50; # the_field('temperature_maximum'); ?> °C</p>
//         <!-- <button class="carte__bouton carte__bouton--actif">Suite</button> -->
//     </div>
// </article>


/* ----------------- CARTE ----------------- */

.populaire__carte
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    gap: 25px 25px;

    .carte{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;
        border-radius: 15px;
        overflow: hidden;
        padding: 15px;
    
        width: 25vw;
        height: 25vw;
    
        &__image {
            img{
                width: 100%;
            }
        }
    
        &__contenu {

        }
    
        &__titre {
            font-size: 2rem;
        }

        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 0 25px;

            li{
                list-style: none;
                background: orange;
                border-radius: 5px;
                width: fit-content;
                padding: 5px;
            }

            a{
                font-size: 1.3rem;
                font-weight: 900;
                text-transform: uppercase;
                text-decoration: none;
                color: black
            }
        }
    }
}
