
/* ----------------------- .menu */

// ul
.menu{ 
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px 0;

  &__li{
    // margin: 3px 0;

    a{
      text-decoration: none;
      padding: 4px;
    }
  }
}
  