
/* ------------- Menu ------------- */

.menu{ 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style-type: none;

  gap: 25px 0;
  padding: 10px 0;

  &-item{
    font-size: 1rem;

    a {
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      
      &:visited{
        color: white;
      }
    }

  }

  @media screen and (min-width: $dimension__ecran--desktop) {
    
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 1 0 auto;

    gap:25px;
    margin: 0 25px;
  }
}
  