.recherche {
    width: 12rem;
    height: 1.6rem;
    border: 1px solid black;
    border-radius: 2px;
    margin-right: 20px;
    
    &__input{
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.01);
        flex: 1;
        padding: 3px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.09);
        }

        &::placeholder{
            color: rgba(0, 0, 0, 0.13);
            font-style: italic;
        }
    }

    button {
        display: none;
        width: 0;
        height: 100%;
        background: none;
        border: none;
    }

    @media screen and (min-width:  $dimension__ecran--desktop) {
        display: flex;
        flex: 0 1 auto;

        &__img {
            translate: -100% 0;
        }
    }
}